.bottom {
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title_head {
  background-color: blue;
  color: white;
  height: 9vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.date {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input {
  height: 5vh;
}

.label {
  padding-right: 30px;
  color: white;
  display: inline-block;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.train_no {
  display: flex;
  align-items: center;
}
